{
    "featureType": "syslog",
    "enabled": true,
    "protocol": "udp",
    "serverAddresses": {
        "type": "IpAddressesDto",
        "ipAddress": [
            "{{ires_vrli_dnat_ip}}"
        ]
    }
}
