[Unit]
Description=SGHA Watchdog Service
After=docker.service
Requires=docker.service

[Service]
Restart=always
WorkingDirectory=/sasg/clients/
ExecStart=/sasg/bin/HA/watchdog.sh

[Install]
WantedBy=multi-user.target
