{
    "network": "{{internal_net}}",
    "nextHops": [
        {
            "description": "{{app_internal_name}} via {{res_esg_name}}",
            "adminDistance": 1,
            "ipAddress": "{{res_esg_vnic0_ip}}"
        }
    ]
}
