{
    "network": "{{transit_net}}",
    "nextHops": [
        {
            "description": "{{dres_name}} transit network via {{res_esg_name}}",
            "adminDistance": 1,
            "ipAddress": "{{res_esg_vnic0_ip}}"
        }
    ]
}
