{
  "applianceSize": "{{dlr_edge_size}}",
  "appliances": [
      {
          "highAvailabilityIndex": 0,
          "resourcePoolId": "{{edge_cluster_id}}",
          "datastoreId": "{{edge_datastore_id}}",
          "vmFolderId": "{{dlrvm_folder_id}}",
          "deployed": true
      }
  ],
  "deployAppliances": true
}
