{
  "applianceSize": "{{vpn_esg_edge_size}}",
  "appliances": [
      {
          "highAvailabilityIndex": 0,
          "resourcePoolId": "{{edge_cluster_id}}",
          "datastoreId": "{{edge_datastore_id}}",
          "vmFolderId": "{{edgevm_folder_id}}",
          "deployed": true
      },
      {
          "highAvailabilityIndex": 1,
          "resourcePoolId": "{{edge_cluster_id}}",
          "datastoreId": "{{edge_datastore_id}}",
          "vmFolderId": "{{edgevm_folder_id}}",
          "deployed": true
      }
  ],
  "deployAppliances": true
}
