<!--link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"-->
<link href="{{ url_for('static', filename='css/blue-bootstrap.min.css') }}" rel="stylesheet">
<!--link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet"-->
<!--link href="{{ url_for('static', filename='css/slider.css') }}" rel="stylesheet"-->
<!--link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet"-->
<!--link href="{{ url_for('static', filename='css/bootstrap-tokenfield.min.css') }}" rel="stylesheet"-->
<!--link href="{{ url_for('static', filename='css/treeview.css') }}" rel="stylesheet"-->
<!--link href="{{ url_for('static', filename='css/vis.min.css') }}" rel="stylesheet"-->
<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
<!--link href="{{ url_for('static', filename='css/foundation.min.css') }}" rel="stylesheet"-->
<!--link href="{{ url_for('static', filename='css/foundation-icons.css') }}" rel="stylesheet"-->
<!--link href="{{ url_for('static', filename='css/bluesight.css') }}" rel="stylesheet"-->
<link href="{{ url_for('static', filename='css/sasg.css') }}" rel="stylesheet">
