<!--div class="sidebar">
    <a class="sidebar-item" href="/faq">FAQ</a>
    <a class="sidebar-item" href="/about">ABOUT</a>
</div>

<div class="footer">
    <span class="footer-label">IBM Corp.</span>
    <span class="footer-label">Version</span>
    <span>0.1.0</span>
    <a class="footer-label footer-label-icon" onclick="canvas_download()" title="Save canvas as svg"><i class="fa fa-download fa-lg"></i></a>
    <a class="footer-label footer-label-icon" href="https://github.ibm.com/jinho/bluesight" target="_blank" title="Link to github"><i class="fa fa-github fa-lg"></i></a>
    <a class="footer-label footer-label-icon" href="https://github.ibm.com/jinho/bluesight/issues" target="_blank" title="Bug report"><i class="fa fa-bug fa-lg"></i></a>
    <a class="footer-label footer-label-icon" href="/apidoc" target="_blank" title="api document"><i class="fa fa-exchange fa-lg"></i></a>
    <span>&nbsp;</span>
</div-->

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 text-muted">© IBM Corporation
            </div>

            <div class="col-xs-6 text-muted">
                <div class="pull-right">
                    <a class="footer-label-icon" href="mailto:jinho@us.ibm.com" target="_blank" title="Send email"><i class="fa fa-envelope"></i></a>
                    <a class="footer-label-icon" href="https://github.ibm.com/jinho/sasg" target="_blank" title="Link to github"><i class="fa fa-github"></i></a>
                    <a class="footer-label-icon" href="https://github.ibm.com/jinho/sasg/issues" target="_blank" title="Bug report"><i class="fa fa-bug"></i></a>
                    <a class="footer-label-icon" href="/apidoc" target="_blank" title="api document"><i class="fa fa-exchange"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

