{% extends "base.html" %}

{% block main %}

<!-- Begin page content -->
<div class="container">

    <div class="page-header">
        <h1>Service Access Solution Gateway Automation Engine</h1>
    </div>

    <p class="lead">
        SASGaaS provides an automation capability to configure SASFW in the customer dedicated segment (in SoftLayer) and service access solution gateways (SASGs) in the on-premise data centers through VPN. 

        Use either <code><a href="/apidoc" target="_blank">API</a></code> or <code><a href="/dashboard">dashboard</a></code> portal to configure your SASGs for your customer.
    </p>

    Version: {{ version }}
</div>

{% endblock %}
